/* src/Popup.css */

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-content p {
  margin: 0;
  padding: 0;
}


